/* CSS styles for the images */
.img {
    max-width: 100%;
    /* Ensure the images don't exceed their container */
    display: block;
    /* Remove any extra spacing around the images */
    margin-bottom: 10px;
    /* Add some space between the images */
    border: 1px solid #ccc;
    /* Add a border around the images */
    border-radius: 5px;
    /* Add rounded corners to the images */
}
.figures{
    width:70%
}

/* Optional: Style the captions if you want */
.fig-cap {
    text-align: center;
    font-style: italic;
}
@media screen and (max-width: 994px) {
    .figures{
        width:100%
    }
  }