/* Style the footer container */
.footer-container {

    padding: 20px;
    color:white
}

/* Style the footer content */
footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    color:white
}

/* Style the logo */
.logo {
    width: 100px;
    height: auto;
    color:white
}

/* Style the social media icons */
ul.social-media li {
    display: inline-block;
    margin-right: 10px;
    color:white
}

/* Style the footer links */
ul.footer-links {
    list-style: none;
    padding: 0;
    color:white
}

ul.footer-links li {
    margin-bottom: 10px;
    color:white
}

ul.footer-links h4 {
    margin-bottom: 15px;
    color:white
}

ul.footer-links a {

    text-decoration: none;
    color:white
}

/* Style the contact information */
ul.contact-info {
    list-style: none;
    padding: 0;
    color:white
}

ul.contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color:white
}

ul.contact-info .material-symbols-outlined {
    margin-right: 5px;
    color:white
}

/* Style the legal links */
ul.legal-links {
    list-style: none;
    padding: 0;
    color:white
}

ul.legal-links li {
    margin-bottom: 10px;
    color:white
}

ul.legal-links a {

    text-decoration: none;
    color:white
}

/* Style the disclaimer paragraph */
.disclaimer {
    font-size: 14px;
    margin-top: 20px;
    color:white
}

  /* Mobile View Styling */
  


@media (max-width: 767px) {
    footer {
      flex-direction: column;
      align-items: center;
    }

    ul.social-media {
      margin-bottom: 20px;
    }
  }
